{% extends 'index.html' %}
{% block nav %}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      
      
      <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="post">
        <span class="login100-form-title">
          Sign up now
        </span>
        {%csrf_token%}

        <table class="table">
          {{form.as_table}}
        </table>
        
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
      
{% endblock nav %}